body {
  background-color: blue;
}

header {
  background: white;
  padding: 20px;
  
}

header > h1 {
  color: pink;
  text-align: center;
  font: asap, sans-serif;
  font-family: "IBM Plex Mono", monospace;
}

h2 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: pink;
  font-size: 20px;
  font-weight: light;
}

.choices {
  display:flex;
  justify-content: center;
  margin-top:50px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  cursor:pointer;
  
}

#submit-button {
  border-radius: 24px;
  padding: 14px 40px;
  
}
  
.radio-button {
  margin-top: 50px 0;
  text-align: center;
}

.radio-button {
  border: 20px solid transparent;
  border-radius: 100%;
  margin: 0 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.radio-button:hover {
  background-color: pink;
  cursor: pointer;
}
#rock {
  display: none;
}

#paper {
  display: none;
}

#scissors {
  display: none;
}

p {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

.score-board {
  margin: 20px auto;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 42;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: white;
  color: red;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  /* left: -25px; */
}

#comp-label {
  position: absolute;
  top: 30px;
  right: 35px;
}

.results-css {
  font-size: 30px;
}

.result > p {
  text-align: center;
}


.choice {
  border: 20px solid transparent;
  border-radius: 100%;
  margin: 0 20px;
  padding: px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background-color: pink;
}

#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
} */
